@model HomeAddVM


<body style="background-color:#74DE79">
    <form asp-controller="Home" asp-action="Add">
        <label asp-for="Person.FirstName"></label>
        <input asp-for="Person.FirstName" />
        <span asp-validation-for="Person.FirstName"></span>
        <br />
        <label asp-for="Person.LastName"></label>
        <input asp-for="Person.LastName" />
        <span asp-validation-for="Person.LastName"></span>
        <br />
        <label asp-for="Person.Email"></label>
        <input asp-for="Person.Email" type="email" />
        <span asp-validation-for="Person.Email"></span>
        <br />
        <label asp-for="Person.PhoneNumber"></label>
        <input asp-for="Person.PhoneNumber" />
        <span asp-validation-for="Person.PhoneNumber"></span>
        <br />
        <label asp-for="Person.Description"></label>
        <textarea asp-for="Person.Description" type="text" style="width: 200px; height: 200px" ></textarea>
        <span asp-validation-for="Person.Description"></span>
        <br />
        @foreach (var item in Model.Person.Skills)
        {
        <div>
            <input type="checkbox" name="@($"{nameof(HomeAddVM.Person)}.{nameof(HomeAddVM.PersonVM.SelectedSkills)}")" id="@item.Value" value="@item.Value" />
            <label for="@item.Value" class="checkbox-inline"> @item.Text  </label>
        </div>
        }
        <br />
        <input style="background-color: white" type="submit" value="Add Person" />
    </form>
</body>