@model HomeGetDataVM


    <p>First name: @Model.Person.FirstName</p>
    <p>Last name: @Model.Person.LastName</p>
    <p>E-mail: @Model.Person.Email</p>
    <p>Phone number: @Model.Person.PhoneNumber</p>
    <p>Skills: @foreach (var item in Model.Skill)
    {
        <span>@item.Skill1</span>
    }</p>
    <p>Description: @Model.Person.Description</p>
        

    <form asp-controller="Home", asp-action="Edit" asp-route-id="@Model.Person.Id" method="get">
        <button type="submit">Edit</button>
    </form>

