@model HomeGetDataVM


    <p>First name: @Model.Person.FirstName</p>
    <p>Last nam: @Model.Person.LastName</p>
    <p>E-Mail: @Model.Person.Email</p>
    <p>Phonenumber: @Model.Person.PhoneNumber</p>
    <p>Description: @Model.Person.Description</p>

    <form asp-controller="Home", asp-action="Edit" asp-route-id="@Model.Person.Id" method="get">
        <button type="submit">Edit</button>
    </form>

